*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}


/**************   welcome section  ********************/

section.welcome{
  	width: 100%;
	font-family: sans-serif;
	background-color: #2B7A78;
	background-image: linear-gradient(147deg, #2B7A78 0%, #3AAFA9 74%);
	background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FEFFFF;
}


section.welcome h1{
	text-align: center;
	color: #FEFFFF;
	padding: 25px  0 15px 0;
}

section.welcome h6{
	text-align: center;
	color: #FEFFFF;
	padding-bottom: 20px;
}


/**************   welcome section  ********************/


div.start-game{
	font-family: sans-serif;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #EDF5E1;
    text-align: center;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:8px;
    margin: 20px 15px;
}


div.start-game button{
	font-family: sans-serif;
	text-align: center;
	margin: 60px auto;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid 3px #66FCF1;
    border-radius: 20px;
    cursor: pointer;
    pointer-events: none;
    font-weight: 30px;
}



div.start-game button span{
	padding: 1.3em;
	border-radius: 17px;
}

div.start-game h4{
	font-family: sans-serif;
	text-align: center;
	font-weight: 30px;
	font-size: 40px;
	margin: 0 auto;
	margin-bottom: 60px;
	color : #66FCF1;
}


.glow {
 	font-size: 80px;
 	color: #fff;
 	text-align: center;
 	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}




/**************    Box Containing quizes   ********************/

section.game-area .question-container{
	font-family: sans-serif;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #EDF5E1;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:8px;
    margin: 20px 15px;
    color: #FEFFFF;
}


section.game-area .question-tracker-wrapper{
	border-bottom: solid 2px #FEFFFF;
	line-height: 10px;
}

section.game-area .question-no{
	margin: 20px 20px;
	margin-top: 45px;
	margin-bottom: 55px;
	font-family: sans-serif;
    font-size: 30px;
    font-weight: 450;	
}

section.game-area .right-ans-tracker{
	margin: 20px 20px;
	margin-bottom: 10px;
	margin-right: 35px;
	background-color: #E8A87C;
	background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 350;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: right;
   
}

section.game-area .right-ans-text{
	float: right;
	clear: right;
	color: #FEFFFF;
}

section.game-area .question{
	margin: 20px 20px;
}

section.game-area .options{
 margin: 20px 20px;
}

section.game-area .options .opt{
	background-color: #E8A87C;
	line-height: 20px;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 18px;
	cursor: pointer;
	color: #FEFFFF;
}

section.game-area .options .opt-text{
	margin-top: 12px;
	color: #E8A87C;
	font-weight: 550;
}

section.game-area .check-btn{
	text-align: center;
}


section.game-area .btn-check{
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #E8A87C;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 20px;
}



/*************  Quiz results   *********************/


section.results .quiz-result{
	font-family: sans-serif;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #EDF5E1;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:8px;
    margin: 20px 15px;
    color: #FEFFFF;
}

section.results .quiz-result h2{
	padding: 30px 30px;
	text-align: center;
	margin-top: 20px;
}

section.results .button-1{
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #E8A87C;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 20px;
    margin-right: 20px;
}

section.results .result-button-wrapper{
	text-align: center;
	padding: 30px;
}

section.results .button-2{
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #E8A87C;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 20px;
	color: #FEFFFF;
	margin-left: 20px;
}



/**************    The Footer   ********************/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: sans-serif;
  background-color: #2B7A78;
  background-image: linear-gradient(147deg, #2B7A78 0%, #3AAFA9 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #FEFFFF;
}



.hide{
	display: none;
}